---
import "../globals.css";
interface Props {
    title: string;
    description?: string;
    image?: string;
}
const {
    title = "Angel's Portfolio",
    description = "Frontend Developer, Creative Web Designer, Marketing Architect, 3D Artist, IA Automation Engineer",
    image = "/assets/images/og-image.png",
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />
        <!-- Open Graph / Facebook (Para compartir en redes) -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url)} />
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL(image, Astro.url)} />
    </head>
    <body class="bg-black text-white antialiased">
        <slot />
    </body>
</html>
